@tailwind base;
@tailwind components;
@tailwind utilities;

/* Contact Us Form */

.form {
  display: flex;
  flex-direction: column;
  align-self: center;
  font-family: inherit;
  gap: 10px;
  padding-inline: 2em;
  padding-bottom: 0.4em;
  /* background-color: #716e6e; */
  border-radius: 20px;
}

.form-heading {
  text-align: center;
  /* color: #ffffff; */
  /* font-size: 1.2em; */
  background-color: transparent;
  align-self: center;
}

.form-field {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5em;
  border-radius: 10px;
  padding: 0.6em;
  border: none;
  outline: none;
  color: rgb(0, 0, 0);
  background-color: #ffffff;
  /* box-shadow: inset 2px 5px 10px rgb(5, 5, 5); */
}

.input-field {
  background: none;
  border: none;
  outline: none;
  width: 100%;
  color: #000000;
  padding-inline: 1em;
}

.sendMessage-btn {
  cursor: pointer;
  margin-bottom: 1em;
  padding: 0.5em;
  border-radius: 10px;
  border: none;
  outline: none;
  background-color: transparent;
  color: #000000;
  font-weight: bold;
  outline: 1px solid #000000;
  transition: all ease-in-out 0.3s;
}

.sendMessage-btn:hover {
  transition: all ease-in-out 0.3s;
  background-color: #fafafa;
  color: #000;
  cursor: pointer;
  box-shadow: inset 2px 5px 10px rgb(0, 0, 0.5);
}

.form-card1 {
  background-image: linear-gradient(163deg, #64ffda 0%, #64ffda 100%);
  border-radius: 22px;
  transition: all 0.3s;
}

.form-card1:hover {
  box-shadow: 0px 0px 30px 1px rgba(100, 255, 218, 0.3);
}

.form-card2 {
  border-radius: 0;
  transition: all 0.2s;
}

.form-card2:hover {
  transform: scale(0.98);
  border-radius: 20px;
}

/* Contact Us Form */


/* Hamburger */
.hamburger {
  cursor: pointer;
}

.hamburger input {
  display: none;
}

.hamburger svg {
  /* The size of the SVG defines the overall size */
  height: 3em;
  /* Define the transition for transforming the SVG */
  transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
  fill: none;
  stroke: black;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 3;
  /* Define the transition for transforming the Stroke */
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line-top-bottom {
  stroke-dasharray: 12 63;
}

.hamburger input:checked + svg {
  transform: rotate(-45deg);
}

.hamburger input:checked + svg .line-top-bottom {
  stroke-dasharray: 20 300;
  stroke-dashoffset: -32.42;
}
/* Hamburger */



/* Sidebar */
.sidebar-ul {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  width: 100%;
  /* height: 300px; */
  z-index: 25;
  transition: top 0.5s;
  top: -900px;
  list-style: none;
  padding-top: 20px;
  padding-bottom: 20px;
}

.sidebar-ul li {
  font-size: 17px;
  flex-direction: row;
}
/* Sidebar */




.hero1-background {
  background-image: url("../public/cloud-demo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 85vh;
  position: relative;
}

.ICPLpage-background {
  background-image: url("../public/water-drop.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 85vh;
  /* position: relative; */
}

.hero2-background {
  background-image: url("../public/water-drop.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  position: relative;
  opacity: 0.8;
}

.footer-background{
  background-image: url("../public/footer_bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.showService {
  display: block;
}

.showServiceMobile {
  display: block;
}





/* Contact us form loader animation */

/* From Uiverse.io by alexruix */ 
.loader {
  width: 48px;
  height: 48px;
  margin: auto;
  /* position: absolute; */
  z-index: 20;
}

.onAnimation {
  display: block;
}

.onContactAnimation {
  display: block;
}

.onICPLContactAnimation {
  display: block;
}

.onSubmitAnimation {
  display: flex;
}

.onContactSubmitAnimation {
  display: flex;
}

.onICPLContactSubmitAnimation {
  display: flex;
}

.loader:before {
  content: '';
  width: 48px;
  height: 5px;
  background: #f0808050;
  position: absolute;
  top: 60px;
  left: 0;
  border-radius: 50%;
  animation: shadow324 0.5s linear infinite;
}

.loader:after {
  content: '';
  width: 100%;
  height: 100%;
  background: #f08080;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 4px;
  animation: jump7456 0.5s linear infinite;
}

@keyframes jump7456 {
  15% {
    border-bottom-right-radius: 3px;
  }

  25% {
    transform: translateY(9px) rotate(22.5deg);
  }

  50% {
    transform: translateY(18px) scale(1, .9) rotate(45deg);
    border-bottom-right-radius: 40px;
  }

  75% {
    transform: translateY(9px) rotate(67.5deg);
  }

  100% {
    transform: translateY(0) rotate(90deg);
  }
}

@keyframes shadow324 {

  0%,
    100% {
    transform: scale(1, 1);
  }

  50% {
    transform: scale(1.2, 1);
  }
}


/* Contact us form loader animation */




/*Navbar Contact us confirmation animation */

.notification {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  isolation: isolate;
  position: absolute;
  width: 18rem;
  height: 10rem;
  background: #29292c;
  border-radius: 1rem;
  overflow: hidden;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 16px;
  --gradient: linear-gradient(to bottom, #2eadff, #3d83ff, #7e61ff);
  --color: #32a6ff;
  margin: auto;
  box-shadow: 10px 10px 800px 150px gray;
}

.notification:before {
  position: absolute;
  content: "";
  inset: 0.0625rem;
  border-radius: 0.9375rem;
  background: #18181b;
  z-index: 2
}

.notification:after {
  position: absolute;
  content: "";
  width: 0.25rem;
  inset: 0.65rem auto 0.65rem 0.5rem;
  border-radius: 0.125rem;
  background: var(--gradient);
  transition: transform 300ms ease;
  z-index: 4;
}

.notification:hover:after {
  transform: translateX(0.15rem)
}

.notititle {
  color: var(--color);
  padding: 0.65rem 0.25rem 0.4rem 1.25rem;
  font-weight: 500;
  font-size: 1.1rem;
  transition: transform 300ms ease;
  z-index: 5;
}

.notification:hover .notititle {
  transform: translateX(0.15rem)
}

.notibody {
  color: #99999d;
  padding: 0 1.25rem;
  transition: transform 300ms ease;
  z-index: 5;
}

.notification:hover .notibody {
  transform: translateX(0.25rem)
}

.notiglow,
.notiborderglow {
  position: absolute;
  width: 20rem;
  height: 20rem;
  transform: translate(-50%, -50%);
  background: radial-gradient(circle closest-side at center, white, transparent);
  opacity: 0;
  transition: opacity 300ms ease;
}

.notiglow {
  z-index: 3;
}

.notiborderglow {
  z-index: 1;
}

.notification:hover .notiglow {
  opacity: 0.1
}

.notification:hover .notiborderglow {
  opacity: 0.1
}

.note {
  color: var(--color);
  position: fixed;
  top: 80%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-size: 0.9rem;
  width: 75%;
}

/*Navbar Contact us confirmation animation */













/* Contact us confirmation animation */

.notification1 {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  isolation: isolate;
  position: absolute;
  width: 18rem;
  height: 10rem;
  background: #29292c;
  border-radius: 1rem;
  overflow: hidden;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 16px;
  --gradient: linear-gradient(to bottom, #2eadff, #3d83ff, #7e61ff);
  --color: #32a6ff;
  margin: auto;
  box-shadow: 10px 10px 800px 150px gray;
}

.notification1:before {
  position: absolute;
  content: "";
  inset: 0.0625rem;
  border-radius: 0.9375rem;
  background: #18181b;
  z-index: 2
}

.notification1:after {
  position: absolute;
  content: "";
  width: 0.25rem;
  inset: 0.65rem auto 0.65rem 0.5rem;
  border-radius: 0.125rem;
  background: var(--gradient);
  transition: transform 300ms ease;
  z-index: 4;
}

.notification1:hover:after {
  transform: translateX(0.15rem)
}

.notititle1 {
  color: var(--color);
  padding: 0.65rem 0.25rem 0.4rem 1.25rem;
  font-weight: 500;
  font-size: 1.1rem;
  transition: transform 300ms ease;
  z-index: 5;
}

.notification1:hover .notititle1 {
  transform: translateX(0.15rem)
}

.notibody1 {
  color: #99999d;
  padding: 0 1.25rem;
  transition: transform 300ms ease;
  z-index: 5;
}

.notification1:hover .notibody1 {
  transform: translateX(0.25rem)
}

.notiglow1,
.notiborderglow1 {
  position: absolute;
  width: 20rem;
  height: 20rem;
  transform: translate(-50%, -50%);
  background: radial-gradient(circle closest-side at center, white, transparent);
  opacity: 0;
  transition: opacity 300ms ease;
}

.notiglow1 {
  z-index: 3;
}

.notiborderglow1 {
  z-index: 1;
}

.notification1:hover .notiglow1 {
  opacity: 0.1
}

.notification1:hover .notiborderglow1 {
  opacity: 0.1
}

.note {
  color: var(--color);
  position: fixed;
  top: 80%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-size: 0.9rem;
  width: 75%;
}

/* Contact us confirmation animation */







.carouselAnimation {
  animation: fadeIn 15s linear infinite;
}

@keyframes fadeIn {
  0% {
    transform: translateX(100px);
  }
  25% {
    transform: translateX(-300px);
  }
  50% {
    transform: translateX(-700px);
  }
  75% {
    transform: translateX(-1100px);
  }
  100% {
    transform: translateX(-1500px);
  }
}


.mobileNavbarServices li{
  font-size: 14px;
}